html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
 
}

.container {
    background: black;
    color: white;
    padding: 30px;
    border-radius: 15px;
   
}

.container h2 {
    margin: 0;
    padding: 0;
}

form {
    margin-top: 20px;
    padding: 5px;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    width: 50%;
    padding: 5px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #0056b3;    
}

p {
    margin: 10px 0;

}

a {
    color: #ceba09;
    text-decoration: none;
}

a:hover {
    color: yellow;
}
.social-login-buttons  {
    color: blue;
    text-align: center;
    font-size: 24px; 
    margin: 10px;
}
.separator {
    text-align: center;
    margin: 20px 0;
    
}